
.App {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(102, 168, 101); /* Couleur verte comme arrière-plan */
  }
  
  .rectangle-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rectangle {
    width: 375px; 
    height: 812px;
    background-color: rgb(102, 168, 101); 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
  }
  
  
  .App-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .text {
      font-weight: bold;
      color: #ffffff;
      font-size: 24px; 
      font-family: Arial, Helvetica, sans-serif; 
      margin-top: -70px;
    
  
  }
  
  .logotitre{
    margin-top: 35px;
  }
  
  .footer {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    margin-bottom: 30px;
  }
  
  .button {
    background-color: #ffffff;
    border: none;
    color: rgb(102, 168, 101); 
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    width: 50%;
    font-weight: bold;
    margin-top: 50px;
  }
  
  .Palmier {
    width: 80%;
    }
    